.app {
  display: flex;
  background-color: blueviolet;
}
.main{
  flex-basis: 60%; 
  display: flex; 
  background-color: chartreuse; 
}
.map{
  flex-grow: 1; 
  height: 100vh; 
  top: 0; 
  position: sticky;
  background-color: darkgoldenrod; 
}
